name: Build and test Docker image

on:
  pull_request:
    types:
      - opened
      - edited
      - reopened
      - synchronize
    paths:
      - Dockerfile
      - src/**
      - package.json
      - pnpm-lock.yaml
      - tsconfig.json

jobs:
  build:
    runs-on: ubuntu-latest
    name: Multiplatform build and test
    strategy:
      fail-fast: false
      matrix:
        platform:
          - platform: linux/amd64
            pair: linux-amd64
          - platform: linux/arm64
            pair: linux-arm64
    steps:
      - name: Get safe ref name
        id: safeRefName
        run: |
          ref=${{github.ref}}
          echo "REF=${ref//\//-}" >> "$GITHUB_OUTPUT"

      - name: Check out the repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6

      - name: Set up pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4
        with:
          version: 10

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Run tests
        run: pnpm test

      - name: Login to Docker Hub
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3
        with:
          username: ${{ vars.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130 # v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3

      - name: Build
        id: build
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6
        with:
          push: false
          platforms: ${{ matrix.platform.platform }}
          cache-to: type=registry,ref=nvitaterna/buildcache:${{vars.REGISTRY_IMAGE}}-${{ matrix.platform.pair }}-${{steps.safeRefName.outputs.REF}},mode=max
          cache-from: |
            type=registry,ref=nvitaterna/buildcache:${{vars.REGISTRY_IMAGE}}-${{ matrix.platform.pair }}-${{steps.safeRefName.outputs.REF}}
            type=registry,ref=nvitaterna/buildcache:${{vars.REGISTRY_IMAGE}}-${{ matrix.platform.pair }}
